*.la
*.lo
*.o
*.pyc
*~

**/.deps/
**/.dirstamp
test-driver

# /
/autom4te.cache

/compile
/config.guess
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/config.h
/config.h.in
/config.log
/INSTALL
Makefile
Makefile.in

/aclocal.m4

/*.pc
*.res
/src/hello_with_icu
.vscode
stamp-h1
/build